@using RentMeEmployee.Controllers
@model IEnumerable<RentMeEmployee.Models.BorrowedItem>

@{
    ViewData["Title"] = "Employee Landing Page";
}


<div class="container">
    <div class="text-center">
        <h4>@ViewData["Message"]</h4>
    </div>

    <div class="row">
        <div class="col-sm-2">
            @if (HomeController.isManager)
            {
                <input type="button" name="button" class="btn btn-primary" value="Manage Employees" />
            }
        </div>
        <div class="col-sm-10">
            <div class="text-center">
                <h5>Current Rentals</h5>
            </div>

            @foreach (var item in Model)
            {
                <button type="button" class="list-group-item">
                    <div class="col-sm-2 text-center browseItem">
                        @Html.DisplayFor(modelItem => item.TrasactionId)
                    </div>
                    <div class="col-sm-1 text-center browseItem">
                        @Html.DisplayFor(modelItem => item.ItemId)
                    </div>
                    <div class="col-sm-3 text-center browseItem">
                        @Html.DisplayFor(modelItem => item.CustomerEmail)
                    </div>
                    <div class="col-sm-2 text-center browseItem">
                        @Html.DisplayFor(modelItem => item.RentalDate)
                    </div>
                    <div class="col-sm-2 text-center browseItem">
                        @Html.DisplayFor(modelItem => item.ReturnDate)
                    </div>
                    <div class="col-sm-2 text-center browseItem">
                        @Html.DisplayFor(modelItem => item.Status)
                    </div>
                </button>
            }
        </div>
    </div>
</div>