@using RentMeEmployee.Controllers
@model IEnumerable<RentMeEmployee.Models.BorrowedItem>

@{
	ViewData["Title"] = "Employee Landing Page";
}


<div class="container">
	<div class="text-center">
		<h2>Current Rentals</h2>
	</div>

	<div class="row">
		
		<div class="col">

			<table class="table">
				<thead>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.TransactionId)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.ItemId)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.CustomerEmail)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.RentalDate)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.ReturnDate)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Status)
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.TransactionId)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.ItemId)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.CustomerEmail)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.RentalDate)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.ReturnDate)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Status)
							</td>
							<td>
								<a asp-controller="Home" asp-action="UpdateStatus" asp-route-id="@item.TransactionId">Update</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-2">
					<label class=" label-danger">@ViewBag.ErrorMessage</label>
				</div>
			</div>


		</div>
	</div>
</div>