@model RentMeSharedCode.Model.BaseEmployee

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Welcome</h2>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group row">
                                @Html.LabelFor(employee => employee.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(employee => employee.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "User Name" } })
                                    @Html.ValidationMessageFor(employee => employee.Username, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(employee => employee.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(employee => employee.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                                    @Html.ValidationMessageFor(employee => employee.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block text-uppercase" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-2">
                                    <label class=" label-danger">@ViewBag.Error</label>
                                </div>
                            </div>

                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>