@model ConfirmBorrowObject
@using RentMe.Controllers
@{
	ViewData["Title"] = "ConfirmBorrow";
}

@using (Html.BeginForm("ConfirmedBorrow", "Borrow", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	<h1 class="text-center">Confirm your order!</h1>
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h2>You are trying to order @BorrowController.SelectedItem.Title.</h2>
			
			</div>

		</div>
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-header text-center">
						<h3>Select Shipping Address</h3>
					</div>
					<div class="card-body">
						@foreach (var address in HomeController.CurrentUser.Addresses)
						{
							<div class="row">
								<div class="col text-center">
									@Html.RadioButtonFor(model => model.AddressId, address.AddressId) @address.StreetAddress @address.State @address.Zip
								</div>
							</div>
						}
						<br />
						<br />
						<div class="row">
							<button type="button" class="btn btn-primary text-center mx-auto" data-toggle="modal" data-target="#confirmationModal">
								Add Address
							</button>
						</div>

					</div>
					<div class="card-footer">
						<div class="form-group text-center">
							<div class="col text-center">
								<label class="text-danger">@ViewBag.Error</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<div class="row text-center">
			<div class="col-6 text-center offset-3">
				<input type="submit" value="Borrow Item" class="btn btn-lg btn-primary btn-block text-uppercase" />
			</div>
		</div>

	</div>
}

<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-center" id="exampleModalLabel">Add New Address</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			@await Html.PartialAsync("AddAddress", new Address())

		</div>
	</div>
</div>




