
@using SharedCode.Model
@model SharedCode.Model.InventoryItem
@{
	ViewData["Title"] = "AddInventory";
}
<style>
	label {
		min-width: 175px;
	}

	input, select {
		width: 100%;
	}

	.input-container {
		width: 70%;
		float: right;
	}

	.button-container {
		margin: 0 10% !important;
		max-width: 80% !important;
	}

	.card {
		box-shadow: .5em .2em 1em .3em #9494b8;
		border-radius: .5em;
	}

	@@media screen and (max-width: 1200px) {
		.input-container {
			width: 90%;
			margin: 0 5%;
		}
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-md-8 offset-2">
			<div class="card">
				<div class="card-header text-center">
					<h2>Add Inventory Item</h2>
				</div>
				<div class="card-body">

					@using (Html.BeginForm("AddInventory", "Inventory", FormMethod.Post))
					{
						@Html.AntiForgeryToken()

						<div class="form-horizontal">

							<hr />
							@Html.ValidationSummary(true, "", new { @class = "text-danger" })

							<div class="form-group row">
								@Html.LabelFor(item => item.Title, htmlAttributes: new { @class = "col-md-2", @style = "float: left" })
								<div class="input-container">
									@Html.EditorFor(item => item.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Title" } })
									@Html.ValidationMessageFor(item => item.Title, "", new { @class = "text-danger" })
								</div>
							</div>

							<div class="form-group row">
								@Html.LabelFor(item => item.Category, htmlAttributes: new { @class = "col-md-2", @style = "float: left" })
								<div class="input-container">
									@Html.DropDownListFor(item => item.Category, new SelectList(InventoryItem.CategoryOptions))
								</div>
							</div>

							<div class="form-group row">
								@Html.LabelFor(item => item.Type, htmlAttributes: new { @class = "col-md-2", @style = "float: left" })
								<div class="input-container">
									@Html.DropDownListFor(item => item.Type, new SelectList(InventoryItem.TypeOptions))
								</div>
							</div>

							<div class="form-group row">
								@Html.LabelFor(item => item.Condition, htmlAttributes: new { @class = "col-md-2", @style = "float: left" })
								<div class="input-container">
									@Html.DropDownListFor(item => item.Condition, new SelectList(InventoryItem.ConditionOptions))
								</div>
							</div>


							<div class="form-group row">
								<div class="button-container col-md-10">
									<input type="submit" value="Add Item" class="btn btn-lg btn-primary btn-block text-uppercase" />
								</div>
							</div>

							<div class="form-group">
								<div class="col text-center">
									<label class="text-success">@ViewBag.SuccessMessage</label>
								</div>
							</div>

							<div class="form-group">
								<div class="col text-center">
									<label class=" text-danger">@ViewBag.ErrorMessage</label>
								</div>
							</div>
						</div>
                            }
                        </div>
                    </div>
        </div>
    </div>
</div>
