@model SharedCode.Model.Employee
@{
    ViewData["Title"] = "AddEmployee";
}

<div class="container">
	
            <div class="card text-center mx-auto">
                <div class="card-header text-center">
                    <h2>Welcome</h2>
                </div>
                <div class="card-body">

                    @using (Html.BeginForm("AddEmployee", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">


                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group row">
                               
                                    @Html.LabelFor(employee => employee.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-8">
                                    @Html.EditorFor(employee => employee.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First name" } })
                                    @Html.ValidationMessageFor(employee => employee.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(employee => employee.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.EditorFor(employee => employee.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last name" } })
                                    @Html.ValidationMessageFor(employee => employee.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(employee => employee.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.EditorFor(employee => employee.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "Username" } })
                                    @Html.ValidationMessageFor(employee => employee.Username, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(employee => employee.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.EditorFor(employee => employee.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                                    @Html.ValidationMessageFor(employee => employee.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(employee => employee.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.EditorFor(employee => employee.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password" } })
                                    @Html.ValidationMessageFor(employee => employee.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(employee => employee.IsManager, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.CheckBoxFor(employee => employee.IsManager, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })

                                </div>
                            </div>

                            <div class="form-group row">

                                <button type="button" class="btn btn-primary text-center mx-auto" data-toggle="modal" data-target="#confirmationModal">
                                    Add Employee
                                </button>
                            </div>

                            <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-center" id="exampleModalLabel">Confirmation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body text-center">
                                            Are you sure you want to add this employee?
                                        </div>
                                        <div class="modal-footer">

                                            <div class="col-sm-6">
                                                <input type="submit" value="Confirm" class="btn btn-lg btn-primary btn-block text-uppercase" style="float: left;" />
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="float: right;">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="offset-md-2 col-md-2">
                                    <label class="alert-success">@ViewBag.SuccessMessage</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="offset-md-2 col-md-2">
                                    <label class=" alert-danger">@ViewBag.ErrorMessage</label>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        
    
</div>




