@model IEnumerable<SharedCode.Model.RentalItem>
@{
    ViewData["Title"] = "ItemDetails";
}

<style>
    @@media screen and (max-width: 1200px) {
        .body-container {
            margin: unset !important;
        }
    }


    .filter-label {
        background-color: #007bff;
        margin-bottom: .5em;
        color: white;
    }
</style>


<div>
    <div class="text-center row">
        <h2 style="margin: .5em auto;">
            Item Details
        </h2>
    </div>
</div>



<div class="container body-container">
  
    <div class="row">

        <div>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MemberId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MemberEmail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RentalDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReturnDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UpdateDateTime)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MemberId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MemberEmail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RentalDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReturnDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReturnDate)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <label class=" label-danger">@ViewBag.ErrorMessage</label>
                </div>
            </div>


        </div>
    </div>
</div>