@model SharedCode.Model.RentalItem
@{
    ViewData["Title"] = "UpdateStatus";
}

<h2 class="text-center">Update </h2>

<div class="row">
	<div class="col-sm-4 text-center">
		<h4>Transaction ID</h4>
	</div>
	<div class="col-sm-4 text-center">
		<h4>Customer Email</h4>
	</div>
	<div class="col-sm-4 text-center">
		<h4>Status</h4>
	</div>
</div>
<div class="row">

	@using (Html.BeginForm("ConfirmedUpdate", "Home", FormMethod.Post))
	{
		@Html.AntiForgeryToken()
		<div class="col-sm-4 text-center">
			@Html.DisplayFor(item => item.TransactionId)
			@Html.HiddenFor(item => item.TransactionId)
		</div>
		<div class="col-sm-4 text-center">
			@Html.DisplayFor(item => item.CustomerEmail)
		</div>
		<div class="col-sm-4 text-center">


			@Html.DropDownListFor(item => item.Status, new List<SelectListItem> {
				new SelectListItem { Text = "Pending" },
				new SelectListItem { Text = "Shipped" },
				new SelectListItem { Text = "Delivered" },
				new SelectListItem { Text = "Returned" },
				new SelectListItem { Text = "Late" }})
			@Html.ValidationMessageFor(item => item.Status, "", new { @class = "text-danger" })


		</div>
		<div class="row">
			<div class="col">
				<input type="submit" value="Confirm" class="btn btn-primary btn-block text-uppercase" />
			</div>
		</div>
	}
</div>



<div class="form-group">
	<div class="col-md-offset-2 col-md-2">
		<label class=" label-danger">@ViewBag.ErrorMessage</label>
	</div>
</div>

